<template>
  <el-container>
    <el-header>DeviceEditor</el-header>
    <el-main>
      <div>
        <el-form
          ref="form"
          :model="item"
          label-width="120px"
        >
          <el-form-item label="Id">
            <el-input
              v-model="item.id"
            />
          </el-form-item>

          <el-form-item label="devtype">
            <el-select
              style="width: 100%;"
              v-model="item.dt"
              placeholder="devtype 선택해 주세요"
            >
              <el-option
                v-for="devType in devTypeList"
                :key="devType"
                :label="devType"
                :value="devType"
              />
            </el-select>
          </el-form-item>
          <el-form-item label="devkey">
            <el-input
              v-model="item.dk"
            />
          </el-form-item>
          <el-form-item label="devopt">
            <el-row>
              <element
                v-if="isEdit"
                style="color: red;"
              >
                Json데이터 변경 사항이 있습니다 반영 완료해 주세요.
              </element>
              <el-button
                style="margin-left:10px;margin-bottom:10px;float: right;"
                type="primary"
                icon="el-icon-check"
                @click="jsonCheck"
              >
                Json 반영
              </el-button>
            </el-row>
            <jsonEditor
              ref="jsoneditor"
              :on-change="onChange"
              :on-change-state="onChangeState"
              :json="item.opt"
              :options="options"
            />
          </el-form-item>
        </el-form>
      </div>
    </el-main>
  </el-container>
</template>

<script>
import jsonEditor from '@/components/JsonEditor'
export default {
  components: {
    jsonEditor
  },
  props: {
    item: {
      required: true,
      type: Object,
      default: () => {
        return {}
      }
    }
  },
  methods: {
    jsonCheck () {
      this.$refs.jsoneditor.editorJsonGet()
    },
    onChangeState (isEdit) {
      this.isEdit = isEdit
    },
    onChange (isSuccess, newJson) {
      if (isSuccess) {
        // console.log(newJson)
        this.item.opt = newJson
        this.isEdit = false
        this.$message({
          type: 'success',
          message: 'Json 데이터 정상 반영'
        })
      } else {
        this.$message({
          type: 'error',
          message: 'Json 데이터를 확인해 주세요'
        })
      }
    }
  },
  data () {
    return {
      isEdit: false,
      devTypeList: [
        'gw',
        'nd',
        'sen',
        'act',
        'act/switch/level0',
        'act/switch/level1',
        'act/switch/level2',
        'act/retractable/level0',
        'act/retractable/level1',
        'act/retractable/level2',
        'act/nutrient-supply/level0',
        'act/nutrient-supply/level1',
        'act/alarm/level0',
        'act/alarm/level1',
        'act/camera/level0'
      ],
      options: {
        mode: 'code',
        onError: function (err) {
          alert(err.toString())
        }
        /* onChange: function () {
          try {
            console.log('aaaaa')
            console.log(JSON.stringify(this.$refs.jsoneditor.editor.get()))
          } catch (err) {
            console.error(err)
          }
        }.bind(this) */
      },
      json: {
        integer: 42,
        float: 1.24,
        string: 'foo',
        array: ['one', 2, 'three'],
        object: {
          foo: 'bar'
        }
      },
      form: {
        name: '',
        region: '',
        date1: '',
        date2: '',
        delivery: false,
        type: [],
        resource: '',
        desc: ''
      }
    }
  }

}
</script>

<style>

</style>
