<template>
  <el-container>
    <el-header>GateEditor</el-header>
    <el-main>
      <div>
        <el-form
          ref="form"
          :model="item"
          label-width="120px"
        >
          <el-form-item label="Id">
            <el-input
              v-model="item.id"
              :disabled="true"
            />
          </el-form-item>
          <el-form-item label="이름">
            <el-input
              v-model="item.name"
            />
          </el-form-item>
        </el-form>
      </div>
    </el-main>
  </el-container>
</template>

<script>
export default {
  props: {
    item: {
      required: true,
      type: Object,
      default: () => {
        return {
          name: '',
          region: '',
          date1: '',
          date2: '',
          delivery: false,
          type: [],
          resource: '',
          desc: ''
        }
      }
    }
  }
}
</script>

<style>

</style>
