<template>
  <el-container>
    <el-header>MateEditor</el-header>
    <el-main>
      <div>
        <el-form
          ref="form"
          :model="item"
          label-width="120px"
        >
          <el-form-item label="Id">
            <el-input
              v-model="item.id"
              :disabled="true"
            />
          </el-form-item>
          <el-form-item label="module">
            <el-input
              v-model="item.mod"
            />
          </el-form-item>
          <el-form-item label="class">
            <el-input
              v-model="item.class"
            />
          </el-form-item>
          <el-form-item label="defaultopt">
            <el-row>
              <element
                v-if="isEdit"
                style="color: red;"
              >
                Json데이터 변경 사항이 있습니다 반영 완료해 주세요.
              </element>
              <el-button
                style="margin-left:10px;margin-bottom:10px;float: right;"
                type="primary"
                icon="el-icon-check"
                @click="jsonCheck"
              >
                Json 반영
              </el-button>
            </el-row>
            <jsonEditor
              ref="jsoneditor"
              :on-change="onChange"
              :on-change-state="onChangeState"
              :json="item.opt"
              :options="options"
            />
          </el-form-item>
        </el-form>
      </div>
    </el-main>
  </el-container>
</template>

<script>
import jsonEditor from '@/components/JsonEditor'
export default {
  components: {
    jsonEditor
  },
  props: {
    item: {
      required: true,
      type: Object,
      default: () => {
        return {
        }
      }
    }
  },
  data: function () {
    return {
      isEdit: false,
      options: {
        mode: 'code',
        onError: function (err) {
          alert(err.toString())
        }
        /* onChange: function () {
          try {
            console.log(JSON.stringify(this.$refs.jsoneditor.editor.get()))
          } catch (err) {
            console.error(err)
          }
        }.bind(this) */
      }
    }
  },
  methods: {
    jsonCheck () {
      this.$refs.jsoneditor.editorJsonGet()
    },
    onChangeState (isEdit) {
      this.isEdit = isEdit
    },
    onChange (isSuccess, newJson) {
      if (isSuccess) {
        // console.log(newJson)
        this.item.opt = newJson
        this.isEdit = false
        this.$message({
          type: 'success',
          message: 'Json 데이터 정상 반영'
        })
      } else {
        this.$message({
          type: 'error',
          message: 'Json 데이터를 확인해 주세요'
        })
      }
    }
  }
}
</script>

<style>

</style>
