<template>
  <div>
    <VueContext ref="menu">
      <template
        slot-scope="child"
      >
        <li v-if="child.data && child.data.node.level >2">
          <a @click.prevent="copy(child.data.data,child.data.node)">
            복사
          </a>
        </li>
        <li>
          <button
            v-if="!copyData"
            :disabled="!copyData"
            style="font-size: 16px;display: block;padding: 0.5rem 1.5rem;font-weight: 400;text-decoration: none;white-space: nowrap;background-color: transparent;border: 0;"
          >
            붙여넣기
          </button>
          <a
            v-else
            @click.prevent="paste(child.data.data,child.data.node)"
          >
            붙여넣기
          </a>
        </li>
      </template>
    </VueContext>
    <el-tree
      :data="item"
      node-key="idx"
      default-expand-all
      :expand-on-click-node="false"
      :highlight-current="true"
      :accordion="false"
      @current-change="selectFn"
    >
      <span
        class="custom-tree-node"
        slot-scope="{ node, data }"
        @contextmenu.prevent="node.level > 1 ? $refs.menu.open($event, {data :data, node:node}) : $refs.menu.close()"
      >
        <span v-if="itemType === 'mate'">{{ data.mod }}</span>
        <span v-else-if="data.name">{{ data.name }}</span>
        <span v-else>{{ data.dt + ' - ' + data.dk }}</span>
        <span>
          <i
            v-if="data.idx"
            style="color:burlywood"
            class="el-icon-circle-plus"
          />&nbsp;&nbsp;
          <template v-if="itemType === 'gate'">
            <template v-if="node.level <= 2">
              [
              <el-button
                type="text"
                size="mini"
                @click.stop="() => save(data,node)"
              >
                저장
              </el-button>
              <el-button
                v-if="node.level !== 1"
                type="text"
                size="mini"
                @click.stop="() => remove(data,node)"
              >
                삭제
              </el-button>
              ]
            </template>
            <template v-if="node.level > 2">
              <el-button
                v-if="node.level !== 1"
                type="text"
                size="mini"
                @click.stop="() => remove(data,node)"
              >
                삭제
              </el-button>
            </template>
            <template>
              <el-button
                type="text"
                size="mini"
                @click.stop="() => append(data,node)"
              >
                추가
              </el-button>
            </template>
          </template>

          <template
            v-else
          >
            <el-button
              v-if="node.level == 1"
              type="text"
              size="mini"
              @click.stop="() => append(data,node)"
            >
              추가
            </el-button>
            <template
              v-else
            >
              [
              <el-button
                type="text"
                size="mini"
                @click.stop="() => save(data,node)"
              >
                저장
              </el-button>
              <el-button
                v-if="node.level !== 1"
                type="text"
                size="mini"
                @click.stop="() => remove(data,node)"
              >
                삭제
              </el-button>
              ]
            </template>

          </template>
        </span>
      </span>
    </el-tree>
  </div>
</template>

<script>
import VueContext from 'vue-context'
import 'vue-context/src/sass/vue-context.scss'
import _ from 'lodash'
import uuidv4 from 'uuid/v4'
let idx = 1000

export default {
  components: { VueContext },
  props: {
    selectFn: {
      required: true,
      type: Function
    },
    removeFn: {
      required: true,
      type: Function
    },
    saveFn: {
      required: true,
      type: Function
    },
    itemType: {
      required: true,
      type: String
    },
    item: {
      required: true,
      type: Array,
      default: () => {
        return []
      }
    }
  },
  data () {
    return {
      copyData: null
    }
  },
  methods: {
    checkMaxId (max, children) {
      for (const child of children) {
        if (Number(child.id)) {
          if (Number(child.id) > max) {
            max = Number(child.id)
          }
        }
        if (child.children && child.children.length > 0) {
          max = this.checkMaxId(max, child.children)
        }
      }
      return max
    },
    setMaxId (max, item) {
      if (item.id === '' || Number(item.id)) {
        item.id = String(max++)
      }
      for (const child of item.children) {
        if (child.id === '' || Number(child.id)) {
          child.id = String(max++)
        }
        for (const childSub of child.children) {
          max = this.setMaxId(max, childSub)
        }
      }
      return max
    },
    checkSameId (children, id) {
      let isSame = false
      for (const child of children) {
        if (child.id === id) {
          isSame = true
          break
        } else {
          if (child.children) {
            if (this.checkSameId(child.children)) {
              isSame = true
              break
            }
          }
        }
      }
      return isSame
    },
    copy (data, node) {
      console.log(data)
      this.copyData = data
    },
    paste (data, node) {
      if (this.copyData) {
        const tempItem = _.cloneDeep(this.copyData)
        tempItem.idx = idx++

        const maxId = this.checkMaxId(1, this.item) + 1
        this.setMaxId(maxId, tempItem)

        data.children.push(tempItem)
      } else {
        this.$message({
          type: 'error',
          message: '복사한 데이터가 없습니다.'
        })
      }
    },
    save  (data, node) {
      this.saveFn(data, node)
    },
    append (data, node) {
      let newChild = { idx: idx++ }

      if (this.itemType === 'gate') {
        if (node.level === 1) {
          newChild = _.extend({
            name: 'new couple',
            id: uuidv4(),
            ssmate: {
              mod: '',
              class: '',
              opt: {}
            },
            dsmate: {
              mod: '',
              class: '',
              opt: {}
            },
            children: []
          }, newChild)
        } else if (node.level >= 2) {
          newChild = _.extend({
            id: '',
            dt: '',
            dk: '',
            opt: {},
            children: []
          }, newChild)
        }
      } else {
        const side = data.mod === 'ssmate' ? 'ss' : 'ds'
        newChild = _.extend({
          id: uuidv4(),
          mod: 'new mate',
          class: '',
          side: side,
          opt: {}
        }, newChild)
      }

      if (!data.children) {
        this.$set(data, 'children', [])
      }
      data.children.push(newChild)
    },

    remove (data, node) {
      this.removeFn(data, node)
      /* const parent = node.parent
      const children = parent.data.children || parent.data
      const index = children.findIndex(d => d.idx === data.idx)
      children.splice(index, 1) */
    },
    removeSuccess (data, node) {
      const parent = node.parent
      const children = parent.childNodes
      const index = children.findIndex(d => d.id === node.id)

      const childrenData = parent.data.children || parent.data
      childrenData.splice(index, 1)
    }
  }
}
</script>

<style>

</style>
