<template>
  <div id="login">
    <div id="description">
      <h1>Login</h1>
      <p>By logging in you agree to the ridiculously long terms that you didn't bother to read.</p>
    </div>
    <div id="form">
      <form @submit.prevent="doLogin">
        <label for>Id</label>
        <input
          id="id"
          v-model="id"
          type="text"
          placeholder="userId"
          autocomplete="off"
        >

        <label for="password">Password</label>&nbsp;
        <i class="fas" />
        <input
          id="password"
          v-model="password"
          type="password"
          placeholder="**********"
        >

        <button type="submit">
          Log in
        </button>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      id: '',
      password: ''
    }
  },
  mounted () {
    if (this.$store.getters.getIsAuth) {
      this.$router.replace({ path: '/' })
    }
  },
  methods: {
    async doLogin () {
      try {
        await this.axios.put('login', {
          id: this.id,
          password: this.password
        })
        this.$store.commit('isAuth', true)
        this.$router.replace({ path: '/' })
      } catch (error) {
        this.$message({
          type: 'error',
          message: '사용자 게정을 확인해 주세요'
        })
      }
    }
  }
}
</script>

<style>
/* * {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
} */

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
}

div#login {
  align-items: center;
  background-color: #e2e2e5;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

div#login div#description {
  background-color: #ffffff;
  width: 280px;
  padding: 35px;
}

div#login div#description h1,
div#login div#description p {
  margin: 0;
}

div#login div#description p {
  font-size: 0.8em;
  color: #95a5a6;
  margin-top: 10px;
}

div#login div#form {
  background-color: #34495e;
  border-radius: 5px;
  box-shadow: 0px 0px 30px 0px #666;
  color: #ecf0f1;
  width: 260px;
  padding: 35px;
}

div#login div#form label,
div#login div#form input {
  outline: none;
  width: 100%;
}

div#login div#form label {
  color: #e4e4e4;
  font-size: 0.8em;
}

div#login div#form input {
  background-color: transparent;
  border: none;
  color: #ecf0f1;
  font-size: 1em;
  margin-bottom: 20px;
}

div#login div#form ::placeholder {
  color: #95a5a6;
  opacity: 1;
}

div#login div#form button {
  background-color: #ffffff;
  cursor: pointer;
  border: none;
  padding: 10px;
  transition: background-color 0.2s ease-in-out;
  width: 100%;
}

div#login div#form button:hover {
  background-color: #eeeeee;
}

@media screen and (max-width: 600px) {
  div#login {
    align-items: unset;
    background-color: unset;
    display: unset;
    justify-content: unset;
  }

  div#login div#description {
    margin: 0 auto;
    max-width: 350px;
    width: 100%;
  }

  div#login div#form {
    border-radius: unset;
    box-shadow: unset;
    width: 100%;
  }

  div#login div#form form {
    margin: 0 auto;
    max-width: 280px;
    width: 100%;
  }
}
</style>
