<template>
  <div>
    <h1
      style="
      position: absolute;
      margin: 0px;
      top: 30px;
      font-size: 4em;
      left: 100px;"
    >
      CvtGate
    </h1>
    <h2
      style="
      position: absolute;
      margin: 0px;
      top: 63px;
      left: 350px;
      color: darkgray;"
    >
      v 1.0
    </h2>
    <el-button
      type="text"
      style="margin:10px;top:0px;right:10px;z-index: 3;position:absolute;color: darkgray;"
      @click="logOut"
    >
      로그아웃
    </el-button>
    <div class="main">
      <div style="margin-bottom:10px; text-align: right;">
        <el-select
          style="width: 300px;"
          :value="menuSelect"
          placeholder="메뉴 선택"
          @change="menuChg"
        >
          <el-option-group
            v-for="menu in menuList"
            :key="menu.name"
            :label="menu.name"
          >
            <el-option
              v-for="item in menu.items"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            >
              <span style="float: left">{{ item.name }}</span>
              <el-button
                v-if="menu.name === 'gate'"
                size="mini"
                type="danger"
                icon="el-icon-delete"
                style="float: right;"
                @click.stop="delGate(item.id)"
              />
            </el-option>
          </el-option-group>
        </el-select>
        <el-button
          style="margin-left:10px"
          type="infor"
          icon="el-icon-edit"
          @click="addGate"
        >
          추가
        </el-button>
      </div>
      <Multipane
        class="vertical-panes"
        layout="vertical"
      >
        <div
          :style="{ width: '400px',padding:'0px', minWidth: '300px', background: '#fff' }"
          class="pane"
        >
          <TreeView
            ref="tree"
            :item="treeList"
            :select-fn="selectNode"
            :remove-fn="removeNode"
            :save-fn="saveNode"
            :item-type="itemType"
          />
        </div>
        <MultipaneResizer />
        <div
          :style="{ flexGrow: 1 }"
          class="pane"
        >
          <component
            :is="currentView"
            :item="currentItem"
          />
        </div>
      </Multipane>
    </div>
  </div>
</template>

<script>
import { Multipane, MultipaneResizer } from 'vue-multipane'
import _ from 'lodash'
import TreeView from '@/components/Tree'
import GateView from '@/components/Gate'
import CoupleView from '@/components/Couple'
import DeviceView from '@/components/Device'
import MateView from '@/components/Mate'
import BinView from '@/components/Bin'

export default {
  components: {
    Multipane,
    MultipaneResizer,
    GateView,
    CoupleView,
    DeviceView,
    MateView,
    TreeView
  },
  data () {
    return {
      menuSelect: '',
      currentView: '',
      currentItem: {},
      menuList: [],
      gateItem: [],
      gateItemOrigin: [],
      mateItem: [],
      mateItemOrigin: [],
      treeList: [],
      itemType: ''
    }
  },
  mounted () {
    document.querySelector('html').style.height = '0px'
    document.querySelector('body').style.height = '0px'
    this.getGateList()
  },
  methods: {
    idxRemove (item) {
      if (item.idx) {
        // delete item.idx
        this.$delete(item, 'idx')
      }
      if (item.children) {
        for (const chd of item.children) {
          this.idxRemove(chd)
        }
      }
    },
    logOut () {
      this.$store.commit('isAuth', false)
      location.reload()
    },
    init () {
      this.currentView = ''
      this.currentItem = {}
      this.gateItem = []
      this.mateItem = []
      this.treeList = []
      this.itemType = ''
    },
    async getGateList () {
      try {
        const { data } = await this.axios.get('gate')
        const gates = {
          name: 'gate',
          items: data
        }
        const mates = {
          name: 'mate',
          items: [{
            id: 'mate',
            name: 'mate'
          }]
        }
        this.$set(this, 'menuList', [])
        this.menuList.push(gates)
        this.menuList.push(mates)
      } catch (error) {
        console.log(error)
      }
    },
    async getMateItem () {
      try {
        const { data } = await this.axios.get('mate')
        this.mateItem = data
        this.mateItemOrigin = _.cloneDeep(this.mateItem)
        const tree = [{
          mod: 'ssmate',
          children: data.ss
        },
        {
          mod: 'dsmate',
          children: data.ds
        }]
        this.treeList = tree
      } catch (error) {
        console.log(error)
      }
    },
    async getGateItem () {
      try {
        const { data } = await this.axios.get(`gate/${this.menuSelect}`)
        this.gateItem = data
        this.gateItemOrigin = _.cloneDeep(this.gateItem)

        const tree = []
        tree[0] = data
        this.treeList = tree
      } catch (error) {
        console.log(error)
      }
    },
    menuChg (item) {
      let isComp = true
      if (this.menuSelect !== item) {
        if (this.menuSelect === 'mate') {
          isComp = _.isEqual(this.mateItemOrigin, this.mateItem)
        } else {
          isComp = _.isEqual(this.gateItemOrigin, this.gateItem)
        }
      }

      if (!isComp) {
        this.$confirm('변경된 데이터가 있습니다 저장해 주세요', '변경된 데이터', {
          confirmButtonText: '닫기',
          cancelButtonText: '폐기',
          showClose: false
        }).then(() => {

        }).catch(() => {
          this.$message({
            type: 'info',
            message: '변경된 사항을 폐기하였습니다'
          })
          this.moveChg(item)
        })
      } else {
        this.moveChg(item)
      }
    },
    moveChg (item) {
      this.menuSelect = item
      this.init()
      if (this.menuSelect === 'mate') {
        this.itemType = 'mate'
        this.getMateItem()
      } else {
        this.itemType = 'gate'
        this.getGateItem()
      }
    },
    async saveNode (data, node) {
      let name = ''
      if (this.itemType === 'gate') {
        if (node.level === 1) {
          name = '게이트'
        } else {
          name = '커플'
        }
      } else {
        name = '메이트'
      }

      this.$confirm(name + ' 데이터를 저장하시겠습니까?', '저장', {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel'
      }).then(async () => {
        try {
          if (this.itemType === 'gate') {
            if (node.level === 1) {
              await this.axios.put(`gate/${this.menuSelect}`, {
                id: data.id,
                name: data.name
              })
            } else if (node.level === 2) {
              // const temp = _.cloneDeep(data)
              if (node.key) {
                this.idxRemove(data)
                await this.axios.post(`gate/${this.menuSelect}/couple`, data)
              } else {
                this.idxRemove(data)
                await this.axios.put(`gate/${this.menuSelect}/couple/${data.id}`, data)
              }
              const { data: newData } = await this.axios.get(`gate/${this.menuSelect}`)
              this.gateItemOrigin = newData
            }
          } else {
            // const temp = _.cloneDeep(data)
            if (node.key) {
              this.idxRemove(data)
              await this.axios.post('mate', data)
            } else {
              this.idxRemove(data)
              await this.axios.put(`mate/${data.id}`, data)
            }

            const { data: newData } = await this.axios.get('mate')
            this.mateItemOrigin = newData
          }
          this.$message({
            type: 'success',
            message: name + ' 데이터를 저장 하였습니다'
          })
        } catch (error) {
          this.$message({
            type: 'error',
            message: name + ' 데이터 저장을 실패하였습니다'
          })
        }
      }).catch(() => {
      })
    },
    removeNode (data, node) {
      let name = ''
      if (this.itemType === 'gate') {
        if (node.level === 1) {
          name = '게이트'
        } else if (node.level === 2) {
          name = '커플'
        } else {
          name = '디바이스'
        }
      } else {
        name = '메이트'
      }

      this.$confirm(name + ' 데이터를 삭제 하겠습니까?', '삭제', {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel'
      }).then(({ value }) => {
        console.log(node)
        if (this.itemType === 'gate') {
          if (!node.key && node.level === 2) {
            this.axios.delete(`gate/${this.menuSelect}/couple/${data.id}`)
              .then((response) => {
                this.$message({
                  type: 'success',
                  message: name + ' 데이터를  삭제 하였습니다'
                })
                this.$refs.tree.removeSuccess(data, node)
                this.currentView = ''
                this.currentItem = {}
              })
              .catch((error) => {
                if (error) {
                  this.$message({
                    type: 'error',
                    message: name + ' 데이터를 삭제 실패하였습니다'
                  })
                }
              })
          } else {
            this.$refs.tree.removeSuccess(data, node)
            this.currentView = ''
            this.currentItem = {}
          }
        } else {
          if (!node.key) {
            this.axios.delete(`mate/${data.id}`)
              .then((response) => {
                this.$message({
                  type: 'success',
                  message: name + ' 데이터를 삭제 하였습니다'
                })
                this.$refs.tree.removeSuccess(data, node)
                this.currentView = ''
                this.currentItem = {}
              })
              .catch((error) => {
                if (error) {
                  this.$message({
                    type: 'error',
                    message: name + ' 데이터 삭제를 실패하였습니다'
                  })
                }
              })
          } else {
            this.$refs.tree.removeSuccess(data, node)
            this.currentView = ''
            this.currentItem = {}
          }
        }
      }).catch(() => {
      })
    },
    selectNode (data, node) {
      this.currentView = BinView

      this.$nextTick(function () {
        this.currentItem = data
        if (this.itemType === 'gate') {
          switch (node.level) {
            case 1:
              this.currentView = GateView
              break
            case 2:
              this.currentView = CoupleView
              break
            default:
              this.currentView = DeviceView
              break
          }
        } else {
          if (node.level > 1) {
            this.currentView = MateView
          } else {
            this.currentView = ''
          }
        }
      })
    },
    delGate (id) {
      this.$confirm('게이트를 삭제 하겠습니까?', '게이트 삭제', {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel'
      }).then(({ value }) => {
        this.axios.delete(`gate/${id}`)
          .then((response) => {
            this.init()
            this.getGateList()
            this.$message({
              type: 'success',
              message: '게이트를 삭제 하였습니다'
            })
          })
          .catch((error) => {
            if (error) {
              this.$message({
                type: 'error',
                message: '게이트 삭제를 실패하였습니다'
              })
            }
          })
      })
    },
    addGate () {
      this.$prompt('추가하실 게이트 이름을 넣어주세요', '게이트 추가', {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel'
      }).then(({ value }) => {
        this.axios.post('gate', { name: value })
          .then((response) => {
            this.getGateList()
            this.$message({
              type: 'success',
              message: '게이트를 생성 하였습니다'
            })
          })
          .catch((error) => {
            if (error) {
              this.$message({
                type: 'error',
                message: '게이트 생성에 실패하였습니다'
              })
            }
          })
      })
    }
  }
}
</script>

<style>
.main {
  margin: 70px 100px 0px 100px;
  /* width: 100%; */
  height: 80vh;
}
.vertical-panes {
  margin: 0px;
  width: 100%;
  height: 95%;
  border: 1px solid #ccc;
}
.vertical-panes > .pane {
  text-align: left;
  padding: 15px;
  overflow: auto;
  background: #eee;
}
.vertical-panes > .pane ~ .pane {
  border-left: 1px solid #ccc;
}

.custom-tree-node {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 20px;
}
</style>
